
*{
    list-style: none;
}


.box{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.title{
    text-align: center;


}
.left{
    background-color: red;
    width: 400px;
    height: 350px;
    color: aliceblue;
    text-align: center;
     align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
    

}

.right{
    background-color: red;
    width: 400px;
    height: 350px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
}


.section{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
   
   
    
   
}
.footer{
    display: flex ;
    justify-content: center;
    gap: 100px;
    margin: 200px;
}